<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about developer 할렐루카</title>
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/landing.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/about_me.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/1f212db822.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'blog/navbar.html' %}
    
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-8">
                    <h1>안녕하세요. <b>할렐루카입니다.</b> </h1>
                    <br/>
                    <p class="lead">
                        코딩과 음악과 수영을 좋아합니다.<br/>
                        귀여운 고양이 루카를 기르고 있습니다.
                    </p>

                    <ul>
                        <li>WORK EXPERIENCE</li>
                        <ul>
                            <li>크고 좋은 회사 - 빅데이터 분석(2019.10 ~ )</li>
                            <li>작고 좋은 회사 (2019.10 ~ )</li>
                        </ul>
                        <li>EDUCATION</li>
                        <ul>
                            <li>공학박사, 장고공학(Django Engineering), 파이썬대학교 (2010.03~2015.09)</li>
                            <li>공학박사, 장고공학(Django Engineering), 파이썬대학교 (2010.03~2015.09)</li>
                            <li>공학박사, 장고공학(Django Engineering), 파이썬대학교 (2010.03~2015.09)</li>
                        </ul>
                        <li>PUBLISH</li>
                        <ul>
                            <li>DO IT DJANGO, 이지스 퍼블리싱 (2020)</li>
                        </ul>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <img class="img-fluid" src="{% static 'single_pages/images/profile.JPG' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light margin-for-footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>PORTFOLIO</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#pycon2017">
                        <img class="card-img-top" src="{% static 'single_pages/images/sample-img-1.jpg' %}">
                        <div class="card-body">
                            <h5 class="card-title">파이썬으로 통계업무 자동화하기 [PYCON 2017]</h5>
                            <p>Python, Django, Pandas, python-docx로 통계업무 자동화한 내용을 파이콘에서 발표했습니다.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#pycon2018">
                        <img class="card-img-top" src="{% static 'single_pages/images/sample-img-1.jpg' %}">
                        <div class="card-body">
                            <h5 class="card-title">파이썬으로 통계업무 자동화하기 [PYCON 2017]</h5>
                            <p>Python, Django, Pandas, python-docx로 통계업무 자동화한 내용을 파이콘에서 발표했습니다.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#pycon2019">
                        <img class="card-img-top" src="{% static 'single_pages/images/sample-img-1.jpg' %}">
                        <div class="card-body">
                            <h5 class="card-title">파이썬으로 통계업무 자동화하기 [PYCON 2017]</h5>
                            <p>Python, Django, Pandas, python-docx로 통계업무 자동화한 내용을 파이콘에서 발표했습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="fixed-bottom">
        {% include 'blog/footer.html' %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="pycon2017" tabindex="-1" role="dialog" aria-labelledby="pycon2017ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pycon2017ModalLabel">파이썬으로 통계업무 자동화하기</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-7">
                            <img class="img-fluid" src="{% static 'single_pages/images/sample-img-1.jpg' %}">
                        </div>
                        <div class="col-lg-5">
                            <p>Python, Django, Pandas, python-docx로 통계업무 자동화한 내용을 파이콘에서 발표했습니다.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>